/**color de fondo**/

body {
  background: #f1f1f1;
}

/**estilos de la barra**/

.barra {
  background    : #035f83;
  padding-top   : 30px;
  padding-bottom: 30px;
  margin        : 0;
}
.barra_tecnico {
  background    : rgba(0, 10, 26, 0.658);
  padding-top   : 30px;
  padding-bottom: 30px;
  margin        : 0;
}

h5{
  font-size: 1.4rem;
}
/**estilos de la barra btn de  salir**/

.dropdown-menu {
  margin    : 17px;
  background: #edf0f7;
  color     : white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

/**estilos de la barra**/
div .checks{
  font-size: 4rem;
}
.menuperfil {
  color: rgb(128, 17, 17);
}

.btn-info{ transition: transform ease 0.5s; -webkit-transition: transform ease 0.5s; -moz-transition: transform ease 0.5s; -ms-transition: transform ease 0.5s; -o-transition: transform ease 0.5s;
}
.btn-primary,
.btn-danger{ transition: transform ease 0.5s; -webkit-transition: transform ease 0.5s; -moz-transition: transform ease 0.5s; -ms-transition: transform ease 0.5s; -o-transition: transform ease 0.5s;
 border-radius: 1%; 
}


.btn-info:hover{ transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }
.btn-primary:hover{ transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }
.btn-danger:hover{ transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }

.menuperfil:focus {
  background: #23ae6b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
}

.cerrar:hover {
  background-color: rgb(13, 218, 75);
  box-shadow      : 0 0 10px rgba(0, 0, 0, 0.568);

}

/**iconos**/


.user {
  font-size: 35px;
  transition: transform ease 0.5s; -webkit-transition: transform ease 0.5s; -moz-transition: transform ease 0.5s; -ms-transition: transform ease 0.5s; -o-transition: transform ease 0.5s;

}

.user:hover{
  transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); }

  

/*BARRA LATERAL*/

.barra-lateral {
  background: #252121;
  color     : #fff;
  min-width : 250px;
  min-height: 100vh;
  padding   : 0;
  
}

.barra-lateral a {
  color          : #fff;
  text-decoration: none;
}

/*ESTILOS MENU*/

.barra-lateral .menu a {
  display                            : block;
  padding                            : 30px;
  font-family                        : Roboto, sans-serif;
  font-weight                        : 500;
  border-bottom                      : 1px solid rgba(2, 90, 232, 0.658);
  text-decoration                    : none;
  /* The `transition` property is used to specify the transition effects when a CSS property changes
  its value. In this case, the `transition` property is being used to define the transition effects
  for three different CSS properties: `transform`, `background-color`, and `text-transform`. */
  transition : transform ease 0.5s, background-color ease 0.5s, text-transform ease 0.5s;
}

.barra-lateral .menu a:hover {
  background-color: #003C5D;
  transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); 

  text-transform  : uppercase;
}

.active {
  background: #003C5D;
}

.barra-lateral .menu {
  border-top: 2.5px #fff solid;
}

.barra-lateral .menu a i {
  margin-right: 20px;
}


/**dropdown menu hamburge***/

.dropdown {
 
  position: relative;
}


button:hover{
  background-color:#ddd;
}

.dropdown-options {

  min-width : 250px;
 
  padding   : 0;

  display: none;
  position: absolute;
  overflow: auto;
  background-color:  rgba(12, 55, 150, 0.836);
  top: 100%;
  left: 0;
  z-index: 1;

  
}


.dropdown:hover .dropdown-options {
  display: block;
}

.dropdown-options a {
  display                            : block;
  padding                            : 30px;
  font-family                        : Roboto, sans-serif;
  font-weight                        : 500;
  border-bottom                      : 1px solid rgba(2, 90, 232, 0.658);
  text-decoration                    : none;
  /* The `transition` property is used to specify the transition effects when a CSS property changes
  its value. In this case, the `transition` property is being used to define the transition effects
  for three different CSS properties: `transform`, `background-color`, and `text-transform`. */
  transition : transform ease 0.5s, background-color ease 0.5s, text-transform ease 0.5s;
}
div.dropdown .btn-danger {
  background-color:  rgba(12, 55, 150, 0.836);
  

}


div.dropdown .btn-danger:hover {  
}

.dropdown-options a:hover {
  background-color: #000000 !important;
  transform: scale(1.2); -webkit-transform: scale(1.2); -moz-transform: scale(1.2); -ms-transform: scale(1.2); -o-transform: scale(1.2); 

  text-transform  : uppercase;
}


/**fin me nu hamburgue**/
/*MAIN*/

.main {
  padding-top: 40px;
}

.main .columna {
  padding-left : 40px;
  padding-right: 40px;
}

/*mediaquerys*/

@media screen and (max-width:1300px) {
  .barra-lateral {
    min-width: auto;
  }

  .barra-lateral .menu a span {
    display: none;
  }

  .barra-lateral .menu a i {
    margin: 0;
  }

  .barra {
    min-width: auto;
  }

  .dropdown-menu {
    margin: 20px -79px 0px;
  }
}

@media screen and (max-width:575px) {
  .barra-lateral {
    min-height: auto;
  }

  .barra-lateral .menu a {
    display      : inline-block;
    border-bottom: none;
  }

  .dropdown-menu {
    margin: 20px -78px 0px;
  }

  .logocppe {
    width: 100%;
  }

  body {
    background: #D3D3D3;
    font-size : 16px;
    overflow  : visible;
  }
}

/** Styling Form **/



form {
  margin-bottom: 20px;
}

textarea {
  width        : 100%;
  padding      : 10px;
  border       : 1px solid #ccc;
  border-radius: 4px;
  resize       : vertical;
}

.boton {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}
/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/** Styling Comments **/

.comments {
  margin-top: 20px;
}

.comment {
  margin-bottom: 10px;
  padding      : 10px;
  border       : 1px solid #ccc;
  border-radius: 4px;
 
}
.comment_two {
  margin-bottom: 5px;
  padding      : 5px;
  border       : 1px solid #b62b2b;
  border-radius: 4px;
}
.comment p {
  margin: 0;
}

.comment p:first-child {
  font-weight: bold;
}

.comment p:not(:first-child) {
  margin-top  : 10px;
  padding-left: 20px;
  border-left : 2px solid #ccc;
}

.formulariorecursos {
  box-shadow   : 0 0 3px rgba(0, 0, 0, 0.568);
  border-radius: 10px;
  padding      : 20px;
}

.menu {
  border-top: 5px #fff solid;
}


/** Styling Comments **/


@media screen and (max-width:575px) {
  .barra-lateral {
    height: auto;
  }

  .barra-lateral.menu a {
    display      : inline-block;
    border-bottom: none;
  }

  .dropdown-menu {
    margin: 20px -78 0px;
  }

  body {
    font-size: 16px;
    overflow : visible;
  }
}