/**importammos la fuente de letras que estaremos trabajando ebn nuestro proyecto y los paranestros con los atributos agragados **/
@import url("gfont-family: 'Poppins', sans-serif;");

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }



  header{
        display: flex;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/fondo_respuesta.jpg) no-repeat;
    background-size:cover;
    background-position:center;
  }

  
/**estilos de nuesto logo **/
.logo{
    max-width: 1200px;
   display: flex;

}


.logo img{

    width: 30%;
    margin-right:30%;
    padding: 0;
    margin: 0;
    justify-content: left;
  

}
  

.form-register {
  width: 100%; /* Establecemos el ancho como "100%" para que se ajuste automáticamente */
    /* max-width: 400px;Establecemos un ancho máximo para evitar que el formulario se extienda demasiado */
  background:#0a000e6b;/* background:#8d1fb16b;*/
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4em;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;

  height: auto;
}


/*
@media only screen and (min-width:768px) {
  .form-register {
    width: 100%;  Establecemos el ancho como "100%" para que se ajuste automáticamente 
    max-width: 400px; Establecemos un ancho máximo para evitar que el formulario se extienda demasiado 
    background:#8d1fb16b;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  
    height: auto;
  }
  
  
}
**/
.contenedor-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px 0 20px 0px;
}

.contenedor-imagen img {
    /* ajusta el tamaño de la imagen según tus necesidades */
    max-width: 100%;
    max-height: 100%;
}

  .form-register h4 {
    font-size: 1.5rem;
    color:  #e7eaec;
    text-align: center;
    margin-bottom: 2rem;
  }

  
  .form-register h3 {
    font-size: 2rem;
    color:  #e7eaec;
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  
  }


  .controlss{

    font-size: 1rem;
    color:  #e7eaec;
    text-align: center;
    margin-bottom: 2rem;
  

  }
  
  .form-register p {
    height: 40px;
    text-align: center;
    color:  #e7eaec;
    text-decoration: none;
    font-size: 1rem;
   
 

}


.con{
    font-size: 18px;
    position: center;
    width: 100%;
    font-size: 1rem;
    color: #d2dadf;
    font-weight: 500;
    pointer-events: none;
  
    }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register .btn:hover {
    color: #000407;
    
  }
  

  .btn{
    width: 100%;
    height: 45px;
    background: #4785b4;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

header .tooltip-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }

  header.tooltip-btn:hover::before {
    content: attr(title);
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(84, 94, 0, 0.8);
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    white-space: nowrap;
  }