/**importammos la fuente de letras que estaremos trabajando ebn nuestro proyecto y los paranestros con los atributos agragados **/
@import url("gfont-family: 'Poppins', sans-serif;");

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


/**BODY**/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../img/swix3.jpg) no-repeat;
    background-size:cover;
    background-position:center;
}


/**estamos trabajando la acabecera del la web**/
header{

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);     
    backdrop-filter: blur(20px);  
    }

    header  h2{

        font-size: 2rem;
        color:#ffffff;
        font-weight: 500;
        margin-left: 40px;
        justify-content: center;
        align-items: center;    
    }
 


    /**contenedor**/

    .contenedor {
        max-width: 1200px;
        margin: 0 auto;
        
        /**para central nuestro layoug**/
    }





/**estilos de nuesto logo **/
.logo{
    max-width: 1200px;
   display: flex;
}


.logo img{

    width: 30%;
    margin-right:30%;
    padding: 0;
    margin: 0;
   
    justify-content: left;

}

/** *NAVEGACION*/

/**estilos de nuestros enlaces **/
 h2{

    position: relative;
    font-size: 1.3rem;
    color:#fff3f3;
    text-decoration: none;/**este atributo funciona para quitarle lalinea de subrayado**/
    font-weight: 500;
    margin-left: 40px;
}


/**BOTON navegacion **/




/**ESTILOS DE LOGIN**/

.wrepper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius:20px;
    backdrop-filter: blur(20px);/**difumina el fondo y queda op**/
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrepper .form-box {
width: 100%;
padding: 40px;

}

.form-box h2{

    font-size: 2.5rem;
    color:  #e7eaec;
    text-align: center;
    

}

/**login input**/

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #d3d9dd;
    margin: 30px 0 ;
}

.input-box label{
position: absolute;
top:50%;
left: 5px;
transform: translateY(-50%);
font-size: 1rem;
color: #d2dadf;
font-weight: 500;
pointer-events: none;
transition: .5s;
top:-5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    color: #d2dadf;
    font-weight: 600;
    padding: 0 35 0 5px;
}
/**Iconos **/
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2rem;
    color: #d2dadf;
    line-height: 57px;

}
/**remember***/

.remember-forgot{
    font-size:.9rem;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    
}

.remember-forgot label input{

    accent-color: #162938;
    margin-right: 3px;
    cursor: pointer;
}

.remember-forgot a{

    color: #162938;
    text-decoration: none;
}

.remember-forgot a:hover{

    text-decoration:underline;
}

/**boton login**/

.btn{
    width: 100%;
    height: 45px;
    background: #4785b4;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor:pointer;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

.login-register p{

   margin-top: 10px;
   align-items: center;
   color: #c6c8ca;


}

.register-link{

    text-decoration: none;
    color: #e7eaec;
    align-items: center;
    transition: .5s;
}

.register-link:hover{

    color: #4785b4;
}