:root{
    --primario:#FFC107;
    --secundario:#0097A7;
      --oscuro: #212121;
      --anchopantalla:1200px;
      --gris:#757575;
  }

/**estilos de nuesto logo **/
.logo{
    max-width: 1200px;
   display: flex;
}

.logo img{

    width: 10%;
    margin-right:30%;
    padding: 0;
    margin: 0;
   /** border: solid;
    border-color: var(--secundario);**/
    justify-content: left;
  
}




